[Unit]
Description=Yvy Frontend Service
After=network.target yvy-backend.service
Wants=yvy-backend.service

[Service]
Type=simple
User={{ yvy_user }}
Group={{ yvy_group }}
WorkingDirectory={{ app_dir }}
Environment=HOME=/home/{{ yvy_user }}
Environment=YVY_LOCAL_DEV=0
ExecStart=/usr/bin/bash {{ app_dir }}/scripts/run-frontend.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
