/* News.css */

/* Seu estilo personalizado */
.btn-custom {
    background-color: #a9c8a7; /* Um tom de verde parecido com a imagem fornecida */
    border-color: #a9c8a7; /* Ajusta também a cor da borda */
    color: #ffffff; /* Texto branco */
    margin-bottom: 10px;
}
.btn-custom:hover {
    background-color: #8fb98c; /* Um tom de verde um pouco mais escuro para o hover */
    border-color: #8fb98c;
}

/* Para garantir que os itens da navbar estejam alinhados corretamente no desktop */
.navbar-nav {
    margin-left: auto;
}

/* Ajuste para centralizar os botões no mobile */
@media (max-width: 992px) {
    .navbar-collapse {
        text-align: center;
    }
    .nav-item {
        margin-bottom: 10px; /* Adiciona espaçamento entre os links no mobile */
    }
    .navbar-collapse.show {
        display: block !important; /* Forçar que o menu esteja visível quando expandido */
    }
}

/* Corrigir o tamanho do iframe para ocupar a altura disponível */
.iframe-container {
    height: calc(100vh - 80px); /* Ajustar a altura para ocupar a tela inteira menos o tamanho da navbar */
}

/* Estilização dos blocos de notícias */
/* News.css */

.news-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .news-carousel-image {
    max-height: 500px;
    object-fit: cover;
  }
  
  .news-carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .news-carousel-caption h3,
  .news-carousel-caption p {
    color: #ffffff;
  }
  
  .news-carousel-caption .btn {
    background-color: #a9c8a7;
    border-color: #a9c8a7;
    color: #ffffff;
  }
  
  .news-carousel-caption .btn:hover {
    background-color: #8fb98c;
    border-color: #8fb98c;
    color: #ffffff;
  }
  