/* News.css */

/* Seu estilo personalizado */
.btn-custom {
    background-color: #a9c8a7; /* Um tom de verde parecido com a imagem fornecida */
    border-color: #a9c8a7; /* Ajusta também a cor da borda */
    color: #ffffff; /* Texto branco */
    margin-bottom: 10px;
}
.btn-custom:hover {
    background-color: #8fb98c; /* Um tom de verde um pouco mais escuro para o hover */
    border-color: #8fb98c;
}

/* Para garantir que os itens da navbar estejam alinhados corretamente no desktop */
.navbar-nav {
    margin-left: auto;
}

/* Ajuste para centralizar os botões no mobile */
@media (max-width: 992px) {
    .navbar-collapse {
        text-align: center;
    }
    .nav-item {
        margin-bottom: 10px; /* Adiciona espaçamento entre os links no mobile */
    }
    .navbar-collapse.show {
        display: block !important; /* Forçar que o menu esteja visível quando expandido */
    }
}

/* Corrigir o tamanho do iframe para ocupar a altura disponível */
.iframe-container {
    height: calc(100vh - 80px); /* Ajustar a altura para ocupar a tela inteira menos o tamanho da navbar */
}

/* Estilização dos blocos de notícias */
/* News.css */

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .news-article {
    width: 80%;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .news-image {
    width: 100%;
    height: auto;
    max-width: 600px; /* Limita o tamanho máximo da imagem */
    max-height: 400px; /* Opcional, define a altura máxima */
    object-fit: cover; /* Ajusta a imagem dentro dos limites sem distorção */
    border-radius: 10px;
  }
  
  .news-content {
    padding: 10px;
  }
  
  .news-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .news-content p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .news-content .btn {
    font-size: 1rem;
  }
  