        /* Definir um fundo com gradiente suave de tons de verde */
        body {
          background: linear-gradient(to bottom right, #d8f3dc, #b7e4c7);
          font-family: 'Arial', sans-serif;
          color: #333;
          margin: 0;
          padding: 0;
          min-height: 100vh;
      }

      /* Estilização geral dos contêineres */
      .container {
          max-width: 1200px;
          margin: 0 auto;
          padding: 20px;
      }

      /* Navbar */
      .navbar {
          background-color: #4b7049;
          padding: 10px 20px;
      }

      .navbar-nav {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
      }

      .nav-item {
          margin-left: 15px;
          margin-right: 15px;
      }

      .nav-item a {
          color: #ffffff;
          text-decoration: none;
          padding: 8px 16px;
          font-size: 1rem;
          transition: background-color 0.3s;
      }

      .nav-item a:hover {
          background-color: #3e5940;
          border-radius: 5px;
      }

      /* Ajuste para dispositivos móveis */
      @media (max-width: 992px) {
         

          .nav-item {
              margin-bottom: 10px;
          }

      }

      /* Estilos para o botão personalizado */
      .btn-custom {
          background-color: #a9c8a7;
          border-color: #a9c8a7;
          color: #ffffff;
          padding: 10px 20px;
          border-radius: 5px;
          transition: background-color 0.3s, box-shadow 0.3s;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
      }

      .btn-custom:hover {
          background-color: #8fb98c;
          border-color: #8fb98c;
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
      }

      /* Links */
      a {
          color: #4b7049;
          text-decoration: none;
          transition: color 0.3s;
      }

      a:hover {
          color: #8fb98c;
          text-decoration: underline;
      }

      /* Títulos */
      h1, h2, h3, h4, h5, h6 {
          color: #4b7049;
          margin-bottom: 20px;
      }

      /* Texto geral */
      p {
          line-height: 1.6;
          margin-bottom: 15px;
      }

      /* Ajustar o tamanho do iframe para ocupar a altura disponível */
      .iframe-container {
          height: calc(100vh - 80px);
          width: 100%;
          display: none; /* Esconder todos os iframes por padrão */
          justify-content: center;
          align-items: center;
      }

      .iframe-container.active {
          display: flex; /* Mostrar apenas o iframe ativo */
      }

      iframe {
          width: 100%;
          height: 100%;
          border: none;
      }

      /* Rodapé */
      footer {
          background-color: #4b7049;
          color: #ffffff;
          text-align: center;
          padding: 20px 0;
          position: absolute;
          bottom: 0;
          width: 100%;
      }

      footer a {
          color: #a9c8a7;
      }

      footer a:hover {
          color: #8fb98c;
      }