{% extends "base.html" %}

{% block title %}Dashboard - TerraBrasilis{% endblock %}

{% block content %}
  <h2 class="mt-4">Dados de Desmatamento</h2>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Classe</th>
        <th>Período</th>
        <th>Fonte</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.clazz }}</td>
        <td>{{ item.periods }}</td>
        <td>{{ item.source }}</td>
        <td>{{ item.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
